#identity-select {
    overflow-y: scroll;
}

#identity-select > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#identity-select li {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

#identity-select li:hover {
    background: #ddd;
}


#identity-select li.active {
    background: #999;
}