@import "drop_down.css";
@import "identity_list.css";
@import "state_toggle.css";
@import "loading.css";

body {
    width: 400px;
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f7f7f7;
    user-select: none;
}

#identity-section {
    display: flex;
}

#identity-section > div {
    border: 1px solid #ccc;
}

#identity-section > div > label {
    background: #ddd;
}

#identity-select-left,
#identity-select-right {
    display: flex;
    flex-direction: column;
    flex: 50%;
    padding: 10px;
    height: 200px;
}

.toggle-buttons {
    display: flex;
}

.hidden {
    display: none!important;
}

.toggle-button-area {
    padding: 10px;
    display: flex;
}